* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ~~~~ Universal Elements ~~~~~~~~~~ */

body {
    background-color: #d9dcd6;
}

p {
    font-size: 18px;
}

/* ~~~~ Top Header Section ~~~~~~~~~~ */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Horiseon (seo) Color Section */
span {
    color: #d9dcd6;
}

/* Header Box Layout */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Inline Header List */
ul {
    list-style-type: none; 
}

/* Header Main Page Links */
li {
    display: inline-block;
    margin-left: 25px;
      color: #ffffff;
    text-decoration: none;
}
/*Text Link Color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Image Meeting Styling*/
#meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* ~~~~ Main Body ~~~~~~~~~~ */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Article-Summary Box Layout */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Article Img Element Attributes  */
#article-img-layout-1{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

#article-img-layout-2{
    max-height: 200px;
    float: right;
    margin-left: 25px;
}


/* ~~~~ Aside-Benefits Box Layout ~~~~~~~~~~ */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

section {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit Image Styling */
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ~~~~ Footer Box Layout ~~~~~~~~~~ */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#created-by {
    font-size: 20px;
}
